.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8bc1f5, #8bc1f5);
  padding: 0.8rem 2rem;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 60px;
  max-width: 100%;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links span {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}


.navbar-links a  {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar-links a:hover {
  color: #ffcb05;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 10;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  color: #333;
  padding: 0.8rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li a:hover {
  background: #f1f1f1;
  color: #007bff;
}

/* Mobile Screen (<768px) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }

  .dropdown-menu li a {
    text-align: center;
  }
}
